/* Eric Meyers Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global CSS */


body {
	font-family: Gotham, helvetica, sans-serif;
	color: #404040;
	width: 100%;
	line-height: 150%;
}

h1 {
	font-size: 25px;
	font-weight: bold;
	color: #40e0d0;
	margin: 20px;
}

h2 {
	font-size: 20px;
	font-weight: normal;
	margin: 20px;
}


h3 {
	font-size: 20px;
	font-weight: bold;
	color: #40e0d0;
}

header h3 {
	margin: 25px 0px 25px 0px !important;
}

h4 {
	font-size: 15px;
	font-weight: normal;
}

ul {
	-webkit-padding-start: 0px !important;
}

a {
	color: #40e0d0;
	text-decoration: none;
}

a:hover{
	color: #ecc81f;
	text-decoration: none;
}

footer {
	width: 100%;
	bottom: 0px;
	background: #40e0d0;
	padding: 15px 0px 10px 0px;
	font-size: 10px;
	text-align:center;
	margin-top: 50px;
	float: left;
	color: #fff;
}

img {
	width: 100%;
}

button {
	background: #ff7f50;
	color: white;
	font-family: Gotham, helvetica, sans-serif;
	border: none;
	border-radius: 20px;
	font-size: 14px;
	padding: 10px 20px;
}

hr {
	margin: 100px 0 100px 0;
	border: 1px solid #ecc81f;
}

p {
	line-height: 150%;
}

/* Grid */

.col1 {
	width: 100%;
	clear: both;
	display: block;
}

.col2 {
	width: 49%;
	display: inline-block;
}

.col3 {
	width: 32%;
	display: inline-block;
	margin: .5%;
}

.col4 {
	width: 25%;
	display: inline-block;
}

.col5 {
	width: 20%;
}

.span3 {
	width:74%;
}

/* Positioning */

.centered {
	margin: 0 auto;
}

.center-text{
	text-align: center;
}

.left {
	float:left;
}

.right {
	float:right;
}

/* Containers */

.main-container {
	width: 80%;
	margin: 0 auto;
}

#sideBar {
	display:inline-block;
	float:left;
}

#blogPost {
	float: right;
	display: inline-block;
	margin-bottom: 50px;
}

#portfolio-wrap {
	text-align: center;
}

/* Navigation */

nav {
	width: 100%;
	margin: 0 auto;
	position: fixed;
	background: #40e0d0;
	top: 0;
	z-index: 999;
}

nav a {
	color: #fff;
	text-decoration: none;
}

nav a:hover{
	color: #404040;
	text-decoration: none;
}

.logo {
	display: inline-block;
	float: left;
	width: 62px;
}

.nav-link {
	padding: 0 15px 0 0;
	margin-top: 25px;
	display: inline-block;
}

/* Header */

#intro {
	height: 150px;
}

.introContent {
	margin-top: 200px;
}

/* Portfolio Images */

#illustration {
	margin: 10% auto;
	text-align: center;
}

#illustration li {
	display: inline-block;
	float:left;
	position: relative;
}

#illustration button {
	margin-top:30px;
}

.illustration {
	position:relative;
	background: none;
}

.illustration h5 {
	display: none;
}

.illustration:hover {
	background: #ecc81f;
}

.illustration:hover img {
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.illustration:hover .imageTitle{
	display: block !important;
	font-size: 25px;
	color: white;
	position: absolute;
	z-index: 1;
	width: 100%;
	margin: 0 auto;
	bottom: 50%;
}

.aboutMe img {
	margin-bottom:20px;
}
