.col1 {
	width: 100%;
	clear:both;
	display:block;
}

.col2 {
	width: 50%;
	display: inline-block;
}

.col3 {
	width: 31%;
	display: inline-block;
	padding: 0 1.5em 1.5em 0;
}

.col4 {
	width: 25%;
}

.col5 {
	width: 20%;
}

body {
	font-family: Gotham, helvetica, sans-serif;
	color: #404040;
}

h1 {
	font-size: 25px;
	font-weight: bold;
}

h2 {
	font-size: 20px;
	font-weight: normal;
}

h3 {
	font-size: 20px;
	font-weight: bold;
}

h4 {
	font-size: 15px;
}

h5 {
	font-size: 15px;
	font-color: white;
	display:none;
}

h5:hover {
	display: block;
}

h6 {
	font-size:;
}

img {
	width:100%;
}

button {
 	background: #ff7f50;
 	color: white;
 	font-family: Gotham, helvetica, sans-serif;
 	border: none;
	border-radius: 20px;
	font-size: 14px;
	padding: 10px 20px;
}

.centered {
	margin:0 auto;
	text-align: center;
}

#main-container {
	width:1200px;
	margin:0 auto;
	padding:20px;
}

.logo {
	display:inline-block;
	float:left;
}

.title {
	display:inline-block;
	float:left;
	font-size: 18px;
	margin-top: 20px;
}

#intro {
	height:450px;
}

.introContent {
	margin-top:250px;
}


#aboutMe {
	height: 450px;
}

.aboutMeImg {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	overflow: hidden;
}

.aboutMe {

}

#illustrations {

}

#illustrations img {
	display:inline-block;
	float:left;
}






