.col1 {
	width: 100%;
	clear: both;
	display: block;
}

.col2 {
	width: 49%;
	display: inline-block;
}

.col3 {
	width: 31%;
	display: inline-block;
	padding: 0 .75em 1.5em .75em;
}

.col4 {
	width: 25%;
	display:inline-block;
}

.col5 {
	width: 20%;
}

body {
	font-family: Gotham, helvetica, sans-serif;
	color: #404040;
}

h1 {
	font-size: 25px;
	font-weight: bold;
	color: #40e0d0;
}

h2 {
	font-size: 20px;
	font-weight: normal;
}

h3 {
	font-size: 20px;
	font-weight: bold;
	color: #40e0d0;
	margin: 0px 0px 50px 0px !important;
}

h4 {
	font-size: 15px;
	font-weight: normal;
}

.illustration {
	position:relative;
}

.illustration h5 {
	display: none;
}

.illustration:hover .imageTitle {
	display: block !important;
	font-size: 25px;
	color: white;
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
	background-color: rgba(255,127,80, .9);
	padding-top: 160px;
}

h6 {
	font-size:;
}

ul {
	-webkit-padding-start: 0px !important;
}

img {
	width:100%;
}


button {
 	background: #ff7f50;
 	color: white;
 	font-family: Gotham, helvetica, sans-serif;
 	border: none;
	border-radius: 20px;
	font-size: 14px;
	padding: 10px 20px;
}


.footer {
	text-align:center;
}

.centered {
	margin:0 auto;
	text-align: center;
}

.logo {
	display: inline-block;
	float: left;
}

.title {
	display: inline-block;
	float: left;
	font-size: 18px;
	margin-top: 20px;
}

#intro {
	height: 300px;
}

.introContent {
	margin-top: 250px;
}


#aboutMe {
	height: 450px;
	margin: 150px 0px 0px 0px;
}

.aboutMeImg {
	border-radius: 50%;
	overflow: hidden;
	margin: 0px 80px;
	border: 10px solid #40e0d0;
}

.author {
	float: right;
	font-size: 12px !important;
}

#illustrations {
	margin: 100px autos;
	text-align: center;
}

#illustrations img {
	display: inline-block;
	float: left;
}


.blog {
	float:right;
	padding:0px 15px 0px 0px;
	margin-top:20px;
}

.contact {
	float:right;
	margin-top:20px;
}

a {
	color:#40e0d0;
}

a:hover{
	color:#ecc81f;
}



